*{
    padding: 0;
    margin: 0;
    margin-left: 2%;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: #fff;
    
    
}

body{
    background-color: #03109a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    margin-left: 0px;
   
    

}


h1{
    text-align: center;
    background-color: #000;
    padding: 8px;
    border-radius: 8px;
    width: 90%;
}

.bill{
    /* height: 35px; */
    width:90%;
    background: none;
    outline: none;
    border: solid 3px;
    margin: 12px 0;
    padding: 8px;
    border-radius: 5px;
}

.tip-input{
    width: 80%;
    margin: 12px 0 20px 0;
}

.result{
    border-top: solid 1px;
    width: 90%;
}

.output{
    background-color: #000;
    margin: 12px 0;
    padding: 8px;
    border-radius: 8px;
}